@font-face {
  font-family: 'Poppins-Regular';
  src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins-Light';
  src: url('fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: 'Nunito-Regular';
  src: url('fonts/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'JuliusSansOne-Regular';
  src: url('fonts/JuliusSansOne-Regular.ttf');
}

body{}
 
.sidebar{background: linear-gradient(#061133,#0C1324,#0D151F,#0D151D,#0E161C,#08121A, #040F18, #000C17);
  width: 300px;
  height:100vh;
  padding: 10px;
  }

.detailedsidebar{
  background: linear-gradient(#F6FDFF,#F3FCFF, #F2FCFF, #F0FBFF);
  flex-grow: 1;
  padding-left: 50px;
  height: 100vh;

 }
 .cvprofilepic{width: 200px;
  margin-left: 20px;
height: 200px;
border-radius: 200px;
margin-top: 30px;}

.Personname{font-family: 'JuliusSansOne-Regular';
  color: white;
  text-align: center;
}
.occupation{
  text-align: center;
  color: white;
  font-family: 'JuliusSansOne-Regular';
  font-size: 14px;
  font-weight: 400px;
  padding-bottom: 10px;
}
.lblcontacts{text-align: center;
  color: beige;
  font-size: 16px;
  font-family: 'JuliusSansOne-Regular'}

.Telenumber{text-align: start;
  font-family: 'Poppins-Light';
  color: #fff4fd;
font-size: 13px;}

.email{ text-align: start;
  color: beige;
  font-family: 'Poppins-Light';
  font-size: 13px;}

  .emaillink{font-family: 'Poppins-Light';
  color: #fff4fd;}

  .location{font-family: 'Poppins-Light';
    color: #fff4fd;
    font-size: 13px;
 }

  .socialhandlelink{
    font-family: 'Poppins-Light';
  color: #fff4fd;}

  .cvlayouts{display: flex;
 }

 .profilelbl{font-family: 'Poppins-Regular';
  font-size: 20px;
  font-weight: 600px
}

.profiledescription{font-family: 'Poppins-Regular';
  word-spacing: 3px;
  font-size: 14px
}
.skillacting{font-family: 'arial';
  word-spacing: 3px;
  font-size: 14px;}

.direcandprskill{font-family: 'arial';
    word-spacing: 3px;
    font-size: 14px;}

    .PSskill{font-family: 'arial';
      word-spacing: 3px;
      font-size: 14px}

      .humanitarianskill{font-family: 'arial';
        word-spacing: 3px;
        font-size: 14px}

        .HW{font-weight: 600;}
        
        .skillslbl{font-family: 'Poppins-Regular';
          font-size: 20px;
          font-weight: 600px}

          .Workexplbl{font-family: 'Poppins-Regular';
            font-size: 20px;
            font-weight: 600px}

            
            .workexp{font-family: 'Poppins-Regular';
              word-spacing: 3px;
              font-size: 14px}

              .Educationlbl{font-family: 'Poppins-Regular';
                font-size: 20px;
                font-weight: 600px}

                .location2{font-family: 'Poppins-Regular';
                  word-spacing: 3px;
                  font-size: 14px}

                .yearofedu{font-family: 'Poppins-Regular';
                  word-spacing: 3px;
                  font-size: 14px}

                .coursestudied{font-family: 'Poppins-Regular';
                  word-spacing: 3px;
                  font-size: 14px}
                  
                  .skillacting{font-family: 'Poppins-Regular';
                    word-spacing: 3px;
                    font-size: 14px}

                    .direcandprskill{font-family: 'Poppins-Regular';
                      word-spacing: 3px;
                      font-size: 14px}

                    .PSskill{font-family: 'Poppins-Regular';
                      word-spacing: 3px;
                      font-size: 14px}

                    .humanitarianskill{font-family: 'Poppins-Regular';
                      word-spacing: 3px;
                      font-size: 14px}

              .School1{font-family: 'Poppins-Regular';
                word-spacing: 3px;
                font-size: 14px}

                .school2{font-family: 'Poppins-Regular';
                  word-spacing: 3px;
                  font-size: 14px}

                  .hobbieslbl{font-family: 'Poppins-Regular';
                font-size: 20px;
                font-weight: 600px}
                

              .HO1{font-family: 'Poppins-Regular';
                word-spacing: 3px;
                font-size: 14px}

              .HO2{font-family: 'Poppins-Regular';
                word-spacing: 3px;
                font-size: 14px}

              .HO3{font-family: 'Poppins-Regular';
                word-spacing: 3px;
                font-size: 14px}

              .HO4{font-family: 'Poppins-Regular';
                word-spacing: 3px;
                font-size: 14px}



  