@font-face {
  font-family: 'Poppins-Regular';
  src: url('fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'JuliusSansOne-Regular';
  src: url('fonts/JuliusSansOne-Regular.ttf');
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
align-items: center;
  background: linear-gradient(#00648F,#005370,#004355, #00181B, #000000);
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'JuliusSansOne-Regular';
  font-size: 40px;
}

.webmoto {color: aliceblue;
  text-align: center;
  font-size: 11px;
  font-family: 'JuliusSansOne-Regular';
  margin-top: 0.5px;
}

body {
  padding: 5px;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profilescontainer {
  background-color: #002a3c57;
  width: 600px;
  height: 400px;
  border-radius: 20px;
  border: 2px solid #3fe9ff97;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.profiles {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

button {
  width: 350px;
  height: 80px;
  border-radius: 10px;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  border:solid;
}

button img.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile1 {border-width: 1px;
  border-radius: 5px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.973);
  border: 1px solid #ffffffa6;
  font-family: 'JuliusSansOne-Regular';
  background-color: #e74d3c00;
}

.profile2 {border-width: 1px;
  border-radius: 5px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.973);
  border: 1px solid #ffffffa6;
  font-family: 'JuliusSansOne-Regular';
  background-color: #2ecc7000;
}

.profile3 {border-width: 1px;
  border-radius: 5px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.973);
  border: 1px solid #ffffffa6;
  font-family: 'JuliusSansOne-Regular';
  background-color: #3498db00;
}



